[data-asvg] { text-align: center; }
[data-asvg-display] { visibility:hidden; }
[data-asvg-popup] {
  visibility:visible;
  -webkit-filter: url(#asvg-drop-shadow);
  filter:url(#asvg-drop-shadow);
}
[data-asvg-popuplink]:hover,
[data-asvg-hyperlink]:hover,
[data-asvg-pagelink]:hover {
  -webkit-filter: url(#asvg-yellow-highlight);
  filter:url(#asvg-yellow-highlight);
  cursor:pointer;
}
.asvg-popup-close:hover {
  -webkit-filter:url(#asvg-invert-color);
  filter:url(#asvg-invert-color);
  cursor:pointer;
}
.asvg-popuplink-icon,
.asvg-pagelink-icon {
  stroke:none;
  fill:url(#asvg-icon-gradient);
}

