[data-asvg] { text-align: center; }
[data-asvg-display] { visibility:hidden; }
[data-asvg-popup] { -webkit-filter: url(#drop-shadow); filter:url(#drop-shadow); }
[data-asvg-popuplink]:hover,
[data-asvg-hyperlink]:hover,
[data-asvg-pagelink]:hover {
  -webkit-filter: url(#yellow-highlight);
  filter:url(#yellow-highlight);
  cursor:pointer;
}
.asvg-popup-close:hover {
  -webkit-filter:url(#invert-color);
  filter:url(#invert-color);
  cursor:pointer;
}
.asvg-popuplink-icon,
.asvg-pagelink-icon {
  animation-name: icon-backgrounds;
  animation-duration: 1s;
}
@keyframes icon-backgrounds {
  from {background-color: red;}
  to {background-color: yellow;}
}