[data-asvg] { text-align: center; }
[data-asvg-display] { visibility:hidden; }
[data-asvg-popup] {
  visibility:visible;
  -webkit-filter: url(#asvg-popup-filter);
  filter:url(#asvg-popup-filter);
}
[data-asvg-popuplink]:hover,
[data-asvg-hyperlink]:hover,
[data-asvg-pagelink]:hover {
  -webkit-filter: url(#asvg-link-filter);
  filter:url(#asvg-link-filter);
  cursor:pointer;
}
.asvg-icon-close:hover {
  -webkit-filter:url(#asvg-icon-close-filter);
  filter:url(#asvg-icon-close-filter);
  cursor:pointer;
}
#asvg-common-svg {
  display: block;
  line-height:0;
  height: 0;
  overflow: hidden;
}
